.grand{
    height: 85vh;
    padding: calc(100% - 97%);
}

.image{
    background-color: black;
}


.container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
   
}

.cardpart{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.titleContent{
    height:80px; 
    width:100%;
    margin-top: 20px;
     margin-bottom:20px;
  
  }
  .titleContent span{
      color:none;
      margin-top:10px;
      font-size:15px
  }
  .titleContent h2{
  color:#696969;
  font-weight:900;
  font-size:35px;
  }

  .contentCard{
    display: grid;
    grid-template-rows: repeat(2 , 1fr);
  }

  
 .contentCard .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    
 }
 

 


 .contentCard div span{
 margin-top:0px;
   font-size:17px;
   font-weight:200;
 color:#eee;
   line-height:1.3;
 
 }
