/* Premier */
/* .wrapper {
    background-color: green; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.wrapper div{
    background-color: red;
}
.wrapper .one {
    background-color: blue;
    grid-column: 1 / 3;
    grid-row: 1;
}
.two {
    background-color: darkgoldenrod;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.three {
    background-color: olivedrab;
    grid-column: 1;
    grid-row: 2 / 5;
}
.four {
    background-color: hotpink;
    grid-column: 3;
    grid-row: 3;
}
.five {
    background-color: indigo;
    grid-column: 2;
    grid-row: 4;
}
.six {
    background-color: red;
    grid-column: 3;
    grid-row: 4;
   } */

   
/* deuxieme */
   *{
    font-family: 'Noto Sans TC', sans-serif;
  /* font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif; */
  
  }
  .wrapper {
    background-color:none;
    width:100;
    height:100vh;
    padding:50px;
    display:flex;
    align-items:center;
    justify-content:center
  
  }

  .contentCard{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 80px;
   grid-auto-rows: minmax(200px, auto); 
 }
 .contentCard .card{
 background-color:#fff;
  display:flex;
   flex-direction:row;
   
   
 }
 .contentCard .card .iconPart{
 background-color:none;
   width:25%;
     display:flex;
   align-items:flex-start;
   justify-content:center;
   padding:10px
 }
 .contentCard .card .iconPart img{
   width:25%;
 
 }
 .contentCard .card .textContent{
 background-color:none;
   width:75%;
       display:flex;
   align-items:flex-start;
   justify-content:flex-start;
   flex-direction:column;
   padding:10px
 
 
 }
 .contentCard .card .textContent h1{
 /* font-family: 'Ubuntu', sans-serif; */
   margin-top:0px;
   margin-bottom:20px;
   line-height:1.3;
   font-size:20px;
   font-weight:900;
   color:#696969;
 
 
     
 
 }
 .contentCard .card .textContent div span{
 margin-top:0px;
   font-size:12px;
   font-weight:200;
 color:#eee;
   line-height:1.3;
 
 }
 .container{
   background-color:none;
   width:calc(100% - 100px);
   padding:20px
  
 
 }
 .titleContent{
 /*   height:80px; */
   width:100%;
   background-color:none;
    margin-bottom:20px;
   display:flex;
   align-items: center;
   justify-content:center;
   flex-direction: column
 }
 .titleContent span{
 /*   height:80px; */
 color:#eee;
   margin-top:10px;
     font-size:15px
 }
 .titleContent h2{
 /*   height:80px; */
 color:#696969;
 font-weight:900;
 font-size:35px;
 }